.home{
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active {
  opacity: 0;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book-container {
  background: lightblue;
  border: 2px solid black;
  padding: 2rem;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  flex-basis: 40%;
}

.book{
  line-height: 1.5rem;
}

button {
  height: 40px;
  width: 100px;
  background: lightgreen;
  border: none;
  transition: all .2s ease-in-out;
}

button:hover{
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: 0 5px 15px rgba(0,0,0,0.9);
        border: none;
}

button:focus{
  outline: none !important;
}

.btns {
  display: flex;
  justify-content: space-around;
  width: 34%;
}